<section class="body">
    <section class="container">
        <div class="vista">
            <div class="navbar">
                <a href="https://www.uniminuto.edu/" target="_blank"> <img src="../../../assets/LogoUniminuto.png"
                        alt="Logo Uniminuto"> </a>
                <hr>
                <h1> {{ nombreApp }} </h1>
            </div>
            <div class="vistaformulario ">
                <div class="form-container container modal-content">
                    <form [formGroup]="myForm">
                        <div class="formulario">
                            <div>
                                <h3>REGISTRAR USUARIO</h3>
                            </div>
                            <div class="params">
                                <input formControlName="correoUsuario" matInput #input class="form-control" type="email" placeholder="Correo Electronico"> 
                                <div class="params-group">
                                    <input formControlName="nombreUsuario" matInput #input class="form-control" type="text" placeholder="Nombre">
                                    <input formControlName="apellidoUsuario" matInput #input class="form-control" type="text" placeholder="Apellido">
                                </div>
                                <div class="params-group">
                                    <input formControlName="contrasena" matInput #input class="form-control" type="password" placeholder="Contraseña">
                                    <input formControlName="idUsuario" matInput #input class="form-control" type="number" placeholder="ID">
                                </div>
                                <div class="params-group">
                                    <input formControlName="semestre" matInput #input class="form-control" type="number" placeholder="Semestre">
                                    <input formControlName="fechaNacimiento" matInput #input class="form-control" id="nacimiento" type="date">
                                </div>
                            </div>
                            <hr>
                            <div class="btn-params">
                                <button type="button" (click)="registroUsuarioFront()" routerLink="/login"> REGISTRARSE </button>
                                <p> ó </p>
                                <button type="button" routerLink="/login"> CANCELAR </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="aside-container">
                    <img src="../../../assets/LogoPython.png" alt="">
                </div>
            </div>
        </div>
    </section>
</section>