* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.navbar{
    width: 100%;
    height: 60px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #002557;
    position: relative;
}

.navbar img {
    height: 40px !important;
}

.logo>a {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
}

.logo>a>img:nth-child(3) {
    display: none;
}

.vinculos, .acciones-perfil {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.vinculos a {
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 700;
    list-style: none;
    transition: all 0.5s ease-in-out;
    
}

.vinculos ol:hover{
    transform: scale(1.06);
    color: #E9C010;
}

.acciones-perfil p {
    color: #ffffff;
}

.nav-item {
    text-align: center;
}

.nav-item>img {
    width: 20px;
    height: auto !important;
    display: none;
}

@media screen and (max-width: 900px) {
    
    * {
        font-size: 14px;
    }

    .navbar {
        height: 45px;
    }
    
    .logo>a>img, #perfil>img {
        /* width: 100px; */
        height: 25px !important;
    }

    .vinculos, .acciones-perfil {
        height: 40px;
    }


}

@media screen and (max-width: 650px) { 

    .nav-item>img {
        width: 20px;
        height: auto !important;
        display: inline-block;
    }

    .nav-item>img:nth-child(1) {
        color: wheat;
    } 

    .nav-item>p {
        display: none;
    }

    .logo>a>img:nth-child(3) {
        display: inline-block;
    }

    .logo>a>img:nth-child(2) {
        display: none;
    }

}
