<nav class="navbar">
    <div class="logo">
        <a href="https://www.uniminuto.edu/" target="_blank"> <img src="../../../../assets/LogoAppPng.png" alt="Logo MDTutor"> <img src="../../../../assets/LogoUniminutoBlanco.png"
            alt="Logo Uniminuto"> <img src="../../../../assets/UniminutoLogCruz.png" alt="Logo Uniminuto">
        </a>
    </div>
    <div class="vinculos nav nav-underline active">
        <a routerLink="/inicio" class="nav-link"><ol class="nav-item"> <img src="../../../../assets/Freepik - Pagina de inicio.png"> <p>INICIO</p></ol></a>
        <a routerLink="/recursos" class="nav-link"><ol class="nav-item"> <img src="../../../../assets/Jagat Icon - Recursos.png"> <p>RECURSOS</p></ol></a>
        <a routerLink="/inicio" class="nav-link"><ol class="nav-item"> <img src="../../../../assets/Freepik - Insignia.png"> <p>INSIGNIAS</p></ol></a>
        <a routerLink="/perfil" class="nav-link"><ol class="nav-item"> <img src="../../../../assets/Freepik - Perfil de usuario.png"> <p>PERFIL</p></ol></a>
    </div>
    <div class="acciones-perfil">
        <p> {{ usuarioAutenticado?.nombreUsuario }} </p>
        <a id="perfil" href="#"><img src="../../../assets/PixelPerfect-Sesión.png" alt="Perfil"></a>
    </div>
</nav>