<!-- editar-informacion.component.html -->
<div class="container">

  <form class="form" [formGroup]="myForm" (ngSubmit)="guardarEdicion()">

    <h4>Actualizar Información</h4>

    <mat-dialog-content class="mat-dialog-content">
      <div class="mat-input-group">
        <mat-form-field class="mat-input one col-5">
          <mat-label id="mat-labe one">ID de Estudiante</mat-label>
          <input id="mat-input one" formControlName="idUsuario" matInput placeholder="ID de Estudiante">
        </mat-form-field>

        <mat-form-field class="mat-input two col-5">
          <mat-label id="mat-labe twol">Semestre de Estudiante</mat-label>
          <input id="mat-input two" formControlName="semUsuario" matInput placeholder="Semestre de Estudiante">
        </mat-form-field>
      </div>

      <div class="mat-input-group">
        <mat-form-field class="mat-input trhee col-5">
          <mat-label id="mat-label" trhee>Nombre de Estudiante</mat-label>
          <input id="mat-input trhee" formControlName="nomUsuario" matInput placeholder="Nombre de Estudiante">
        </mat-form-field>

        <mat-form-field class="mat-input four col-5">
          <mat-label id="mat-label four">Apellido de Estudiante</mat-label>
          <input id="mat-input four" formControlName="apeUsuario" matInput placeholder="Apellido de Estudiante">
        </mat-form-field>
      </div>

      <div class="mat-input-group">
        <mat-form-field class="mat-input five col-5">
          <mat-label id="mat-label five">Correo de Estudiante</mat-label>
          <input id="mat-input five" formControlName="emaUsuario" matInput placeholder="Correo de Estudiante">
        </mat-form-field>

        <mat-form-field class="mat-input col-5">
          <mat-label id="mat-label">Fecha de Nacimietno</mat-label>
          <input id="mat-input" formControlName="fnaUsuario" matInput [matDatepicker]="picker">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <div class="botones">
      <button class="btn" type="submit" routerLink="/perfil">Guardar</button>
      <button class="btn" type="button" (click)="cancelarEdicion()">Cancelar</button>
    </div>
  </form>

</div>