<app-navbar></app-navbar>
<section class="body">
    <section class="container">
        <div class="datos-personales">
            <div class="foto-perfil">
                <img src="../../../assets/Freepik - Img Perfil.png" alt="">
            </div>
            <div *ngIf="usuarioAutenticado" class="informacion-personal">
                <p>{{ usuarioAutenticado.idUsuario }}</p>
                <p>{{ usuarioAutenticado.nombreUsuario }} {{ usuarioAutenticado.apellidoUsuario }} </p>
                <p>{{ usuarioAutenticado.correoUsuario }}</p>
                <p>{{ usuarioAutenticado.fechaNacimiento }}</p>
                <p>{{ usuarioAutenticado.semestre }} </p>
                <a (click)="editarInformacion()" >Editar Información</a>
            </div>
            <div class="avance">
                <img src="../../../assets/DinoSoftLab - Porcentaje Avance.png" alt="Porcentaje de Avance">
            </div>
        </div>
        <hr>
        <div class="insignias">
            <a href=""><img src="../../../assets/DinoSoftLab - Porcentaje Avance.png" alt=""></a>
            <a href=""><img src="../../../assets/DinoSoftLab - Porcentaje Avance.png" alt=""></a>
            <a href=""><img src="../../../assets/DinoSoftLab - Porcentaje Avance.png" alt=""></a>
            <a href=""><img src="../../../assets/DinoSoftLab - Porcentaje Avance.png" alt=""></a>
        </div>
    </section>

</section>