<app-navbar></app-navbar>

<section class="container-fluid">

    <div class="container">
        <div class="datos-personales">
            <div class="navbar">
                <img src="../../../../assets/Freepik - Img Perfil.png" alt="Foto de Perfil">
            </div>
            <div class="informacion-personal">
                <div class="header">
                    <h4> DATOS DEL ESTUDIANTE</h4>
                    <button (click)="editarInformacion()" class="btn"><img src="../../../../assets/Pixel Perfect - Editar.png" alt="Actualizar Información"></button>
                </div>
                <div class="datos">
                    <ul class="datos-lista">
                        <li><label>ID:</label><p>000708115</p></li>
                        <li><label>SEMESTRE:</label><p>10 - Decimo</p></li>
                        <li><label>NOMBRE:</label><p>Yerson Andres Martinez Lopez</p></li>
                        <li><label>CORREO:</label><p>yerson.martinez-l@uniminuto.edu.co</p></li>
                        <li><label>NACIMIENTO:</label><p></p>09 / 03 / 2001</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
