* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* El navbar - Estilos determinados para vista en PC o dispositivos 
con un ancho de pantalla de mas de 900px */

.container-fluid {
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f5f8;
    padding: 10px;
}

.container {
    width: 70vw;
    /* height: 10px; */
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 60px;
}

.form {
    width: 700px;
    padding: 20px 20px 0 20px ;
}

.form-inline { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buscar {
    width: 500px;
    height: 40px;
    padding: 10px 20px;
    border: #96999d 1px solid;
    border-radius: 20px 0 0 20px;
}

.buscar {
    border: 1px solid #ced4da;
    transition: border-color 0.2s;
}

.buscar:focus {
    border-color: #007bff;
    outline: none !important;
}

.btn {
    width: 200px;
    height: 40px;
    color: #002557;
    background-color: rgb(255, 210, 42);   
    border: #E9C010 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    transition: all 0.2 ease-in-out;
}

.btn:hover {
    background-color: #E9C010;
}

.btn:active {
    background-color: #002557;
    color: #E9C010;
}

hr {
    width: 100%;
    color: #E9C010;
}

.quices {
    width: 100%;
    height: 400px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    overflow-y: auto;
}

.quices::-webkit-scrollbar {
    width: 5px; 
}

.quices::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #002557; 
    transition: all 0.3s ease-in-out;
}

.quices::-webkit-scrollbar-thumb:hover {
    background-color: #E9C010;
}


/* Quices - Estilos determinados para vista en tablet o dispositivos 
con un ancho de pantalla de menos de 900px */

@media screen and (max-width: 900px) {

    .form {
        width: 500px;
        padding: 20px 20px 0 20px ;
    }

}

/* El Quices - Estilos determinados para vista en dispositivos moviles o 
dispositivos con un ancho de pantalla de menos de 700px */

@media screen and (max-width: 700px) { 

    .container {
        width: 100%;
    }

    .form {
        width: 300px;
    }
    
    .form-inline { 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }
    
    .buscar {
        width: 100%;
        height: 30px;
        border-radius: 20px;
    }

    
    .btn {
        width: 100%;
        height: 30px;
        border-radius: 20px;
    }
    

}
