* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f5f8;
    padding: 10px;
}

.cursos {
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 50px;
    overflow-y: auto;
}

.cursos::-webkit-scrollbar, .card-body::-webkit-scrollbar, .container-fluid::-webkit-scrollbar {
    width: 5px; 
}

.cursos::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #002557; 
    transition: all 0.3s ease-in-out;
}

.cursos::-webkit-scrollbar-thumb:hover {
    background-color: #E9C010;
}

.card {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.card>img {
    width: 100px;
    height: 100px !important;
    padding: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 5px;
}

.card-body>h6 {
    font-weight: 700;
    font-size: large;
    color: #E9C010;
}

.card-text {
    font-size: 12px;
    height: 90px !important
}

.btn {
    width: 100%;
    height: 30px !important;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002557;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.06);
    color: #E9C010;
}
