<app-navbar></app-navbar>

<section class="container">
    <aside class="aside-inicio">
        <div class="aside-container">
            <a href="">
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                    <p>¿QUÉ ES PYTHON?</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                    <p>REQUISITOS</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                    <p>SINTAXIS</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                    <p>VARIABLES</p>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                    <p>TIPOS DE DATOS</p>
                </div>
            </a>
            
        </div>
    </aside>
</section>