<app-navbar></app-navbar>

<section class="container">
    <aside class="aside-inicio">
        <div class="aside-container">
            <a href=""> 
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                    <p>¿QUÉ ES PYTHON?</p>
                </div>
            </a>
            <a href=""> 
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                <p>REQUISITOS</p>
            </div>
        </a>
            <a href=""> 
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                <p>SINTAXIS</p>
            </div>
        </a>
            <a href=""> 
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                <p>VARIABLES</p>
            </div>
        </a>
            <a href=""> 
                <div>
                    <img src="../../../assets/PixelPerfect-Sesión.png" alt="">
                <p>TIPOS DE DATOS</p>
            </div>
        </a>
        </div>
    </aside>
    <div class="temas">
        <div class="tabs" id="que-es" >
            <mat-tab-group>
                <mat-tab label="¿QUÉ ES PYTHON"> Python es un lenguaje de alto nivel de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código, se utiliza para desarrollar aplicaciones de todo tipo, por ejemplo: Instagram, Netflix, Spotify, Panda3D, entre otros </mat-tab>
                <mat-tab label="HISTORIA">  </mat-tab>
                <mat-tab label="HOLA MUNDO">  </mat-tab>
            </mat-tab-group>
        </div>
        <div class="tabs" id="requisitos">
            <mat-tab-group>
                <mat-tab label="First" [disabled]="true">  </mat-tab>
                <mat-tab label="Second" [disabled]="true">  </mat-tab>
                <mat-tab label="Third" [disabled]="true">  </mat-tab>
            </mat-tab-group>
        </div>
        <div class="tabs" id="sintaxis">
            <mat-tab-group>
                <mat-tab label="First"[disabled]="true">  </mat-tab>
                <mat-tab label="Second" [disabled]="true">  </mat-tab>
                <mat-tab label="Third" [disabled]="true">  </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>