<app-navbar></app-navbar>

<section class="container-fluid">

    <div class="cursos flex-container">
        <div class="card">
            <img src="../../../../assets/LogoAppPng.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">¿Como funciona MDTutor?</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's.
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Contenido</a>
        </div>
        <div class="card">
            <img src="../../../../assets/LogoPython.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Programación en Python</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Curso</a>
        </div>
        <div class="card">
            <img src="../../../../assets/Freepik - LogoJava.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Programación en Java</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Curso</a>
        </div>
        <div class="card">
            <img src="../../../../assets/LogoPython.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Programación en Python</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Curso</a>
        </div>
        <div class="card">
            <img src="../../../../assets/LogoPython.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Programación en Python</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Curso</a>
        </div>
        <div class="card">
            <img src="../../../../assets/LogoPython.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Programación en Python</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Curso</a>
        </div>
        <div class="card">
            <img src="../../../../assets/LogoPython.png" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">Programación en Python</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
            <a routerLink="/curso-python" class="btn">Ir al Curso</a>
        </div>
    </div>

</section>