* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f2f5f8;
}


.navbar {
    width: 350px !important;
    height: 90%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    position: relative;
    top: 50px;
    background-color: #ffffff;
    box-shadow: rgba(128, 128, 128, 0.202) 3px 3px 10px, rgba(128, 128, 128, 0.202) -3px -3px 10px;
    border-radius: 0 15px 15px 0;
    overflow-y: auto;
}

.navbar>a{
    color: #002557;
}

.navbar-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
}

.navbar-brand>img {
    width: 20px;
    height: 20px;
}

.navbar-nav{
    width: 100%;
    padding: 5px 10px;
    margin: 10px 15px;
}

.navbar-nav>img, .nav-link>img {
    width: 25px;
    height: 25px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link.active {
    color: #002557;
    font-size: 16px;
}

.container {
    height: 90%;
    padding: 20px;
    position: relative;
    top: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(128, 128, 128, 0.202) 3px 3px 10px, rgba(128, 128, 128, 0.202) -3px -3px 10px;
}

.container-body {
    width: 100%;
    height: 100%; 
}


.container-body .header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-body .header {
    width: 100%;
    border-bottom: 1px solid #E9C010;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paginacion {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header .paginacion>a>img {
    width: 30px;
    height: 30px;
}

.header .paginacion>a:nth-child(1) {
    transform: rotateY(180deg);
}

.body-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.body-content::-webkit-scrollbar, .navbar::-webkit-scrollbar {
    width: 5px;
}

.body-content::-webkit-scrollbar-thumb, .navbar::-webkit-scrollbar-thumb  {
    border-radius: 5px;
    background-color: #002557;
    transition: all 0.3s ease-in-out;
}

.body-content::-webkit-scrollbar-thumb:hover, .navbar::-webkit-scrollbar-thumb:hover {
    background-color: #E9C010;
}

mat-tab-group {
    width: 100%;
}