<app-navbar></app-navbar>

<section class="container-fluid">
    
    <nav class="navbar justify-content-start">
        <a routerLink="/inicio" class="navbar-brand">
            <img src="../../../../assets/Freepik - Volver a Cursos.png">
            <p>Ir a cursos</p>
        </a>
        <ul class="navbar-nav nav-underline gap-2">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img src="../../../../assets/Freepik - Que es Py.png">
                    <p>¿Qué es Python?</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="../../../../assets/Freepik - Requisito.png">
                    <p>Requisitos</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="../../../../assets/Freepik - Programacion.png">
                    <p>Sintaxis</p>
                </a>
            </li>
        </ul>
    </nav>

</section>

